@font-face 
{
    font-family: Pianpian5;
    src: url("../assets/fonts/pianpian5.ttf");  
}

@font-face 
{
    font-family: Shouzha5;
    src: url("../assets/fonts/shouzha5.ttf");  
}

@font-face 
{
    font-family: Shouzha7;
    src: url("../assets/fonts/shouzha7.ttf");  
}

@font-face 
{
    font-family: Aliyahei;
    src: url("../assets/fonts/aliyahei.ttf");  
}

@font-face 
{
    font-family: Pianpian3;
    src: url("../assets/fonts/pianpian3.ttf");  
}